/* change all fonts into the selected fonts*/

* {
    font-family: 'Roboto', sans-serif;;
}

h1 {
    text-align: center;
    text-decoration: green wavy underline;
}
.red {
    color: rgb(255,0,0);
}

#start {
    color: #036d03;
    background-color: red
}

#attendance {
    color: hsl(200, 100%, 75%)
}

#agenda {
    color: orange
}

nav {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 200px;
    padding-left: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top:1px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


ul {
    width: auto;
    border-radius: 3px;
    border-style: dashed;
    border-color: black;
    
    
}


ul li {
    margin: 10px 3px 10px 3px; 
}

/*Spacing out the ordered list items */
ol > li {
    font-size: 1.2em;
    padding: 10px 5px 10px 5px;
}

img[src*="wikimedia"] {
    height: 10rem;
    width: 10rem;
    margin: auto;
}

img {
    max-height: 400px;
    max-width: 400px;
}

input ~ label {
    color: rgb(66, 123, 230);
}

p + span {
    color: red;
}

#sneaky {
    display: none;
}

span {
    display: inline-block;
}

video {
    position: relative;
    left: 100px;
    min-width: 100px;
    max-width: 500px;
}

audio {
    position: static;
    top: 500px; left: 500px;
}

a:hover {
    background-color: yellow;
}

a:active {
    color: red;
}

form.interactive :active {
    background-color: blue;
}

fieldset {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}

.attendee{
    display: grid;
    row-gap: 10px;
    column-gap: 30px;
    grid-template-columns: 50% 50%;
}


@media screen and (max-width: 1000px) {
    h2, h3 {
        color: red;
    }
}